<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link href="/materialize/css/materialize.css" rel="stylesheet">
    <script src="/materialize/js/materialize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function toggleForm(id) {
            var selector = '#' + id;
            $(selector).toggleClass('hiddendiv');
            $(selector + '-form').toggleClass('hiddendiv');
            $(selector + '-form ' + selector + '-edit').val($(selector).text());
        }
    </script>
</head>
<body class="container">
<div class="center">
    <p class="green" th:if="${isAdmin}">Admin authority</p>
    <h4>Chat id: <span th:text="${chat.getId()}">chat info</span></h4>
    <h5>Title: <span th:text="${chat.getTitle()}">Chat title</span></h5>
    <h4>Members:</h4>
    <div class="collection">
        <div class="collection-item" th:each="member : ${chat.getMembers()}">
            <p th:text="${member.getId()}">NONE</p>
        </div>
    </div>
    <div class="collection">
        <div class="collection-item valign-wrapper row" th:each="message : ${messages}">
            <span class="col s4" th:text="${message.userId}"></span>
            <p th:id="${message.id}" class="col s6" th:text="${message.text}">message</p>
            <form action="#"
                  method="post"
                  th:id="${message.id}+ '-form'"
                  class="col s6 hiddendiv"
                  th:action="@{/chat/{chatId}/edit/{messageId}(chatId=${message.getChatId()},messageId=${message.getId()})}"
                  th:object="${messageForm}">
                <input th:id="${message.id} + '-edit'" class="black-text center" th:field="*{message}"
                       type="text">
            </form>
            <button th:if="${message.userId == userId || isAdmin}" th:onclick="'toggleForm('+ ${message.id} +')'"
                    class="btn">Edit
            </button>

            <a href="#"
               class="btn red"
               th:if="${message.userId == userId || isAdmin}"
               th:href="@{/chat/{chatId}/delete/{messageId}(chatId=${message.getChatId()},messageId=${message.getId()})}">
                Del
            </a>

            <span class="block badge green black-text" th:text="${message.timestamp}">NONE</span>
        </div>
    </div>
</div>

<form action="#" th:action="@{/chat/send/{chatId}(chatId=${chat.getId()})}" th:object="${messageForm}"
      method="post">
    <input class="black-text" th:field="*{message}" type="text">
</form>
</body>
</html>