<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anon chat</title>
    <link href="/materialize/css/materialize.css" rel="stylesheet">
    <script src="/materialize/js/materialize.js"></script>
</head>
<body class="container">
<div class="row">
    <div class="center">
        <h3>Anon chat</h3>
        <p class="green" th:if="${isAdmin}">Admin authority</p>
        <p>Your id: #<span th:text="${user.getId()}">nope</span></p>
        <a class="btn" th:href="@{'/chat'}">Random chat</a>
    </div>
</div>
</body>
</html>